DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
REDIS_URL=redis://localhost:6379
LOG_LEVEL=info
METRICS_PORT=9090
# GRAFANA_PUSH_URL=
# GRAFANA_PUSH_USER=
# GRAFANA_PUSH_TOKEN=
